[2010-03-18 08:25] beltrachi opened #1 "The plugin does not stop when exits the compose message"
Detected when added an alert to the js source.

[2010-03-27 22:39] #1 closed, assigned to nobody

[2010-09-11 15:25] beltrachi opened #2 "Limit stored data at some point to aviod growing to infinite sizes"
The source does not limit in any way the size of the hash that saves the language of each recipient.

It should be limited to aviod growing infinitely.

It could be by:
- frecuency (expire the less used ones)
- Oldest (the oldest)
- A combination of both.

[2011-04-14 20:52] #2 closed, assigned to nobody

[2012-01-18 09:25] vmoriaux opened #3 "Compatibility broken with TB 9"
Since I updated to ThunderBird 9.01, this extension doesn't work anymore.

[2012-01-23 22:43] #3 closed, assigned to beltrachi

[2012-10-10 20:00] marcosdiez opened #4 "Heuristic to make automatic_dictionary smarter"
Right now, if the recipient's email is found in the database, a dictionary is set. If it is not found, nothing is done.

But I believe we could do better than that.

How about the following algorithm:

Tries to find the email in the database, if found, set dictionary, else
tries to find the domain in the database ( what is after @ ) if found, set dictionary, else
tries to find the domain without i

[2012-12-04 19:24] #4 closed, assigned to beltrachi

[2013-01-24 06:53] giacomociani opened #5 "Compatibility with "conversations""
"Conversations" is an plugin for TB that, among other things, allows you to answer e-mails directly in the reading pane. When you do that, the only way of setting the dictionary appears to be the use of the context menu. In this situation, "automatic dictionary" neither automatically select the appropriate dictionary nor record the choice made with the context menu.

I guess a fix for this is not

[2013-03-12 18:15] #5 closed, assigned to beltrachi

[2013-04-04 13:33] giacomociani opened #6 ""ignore" button"
Hi Jordi,

I was thinking about at a new feature, not really fundamental but hopefully simple to implement. In case you are looking for some ideas to keep developing...

Sometimes it happens to write an e-mail to someone in a language that is not the one you would normally use. For example, sometimes I write in English to my Italian friends, or simply insert a English paragraph in the text and wan

[2013-07-12 22:58] temporarium opened #7 "Thunderbird portable"
The extension can't find previous settings when TB is running in portable mode (profile folder is not at a default location).

[2013-10-05 16:32] thePanz opened #8 "Spell Checking stop working"
Under TB  24.0.0 and extension release 1.5.0 spell checking stops working (intermittent).
I'm investigating with release 1.5.4 (found in another issue)

[2013-11-28 10:53] jurgenhaas opened #9 "Bootstrapped manifest not allowed to use 'overlay' directive"
Every time I'm starting Thunderbird I get the following error in the error console. This was tested with 1.5.0 and 1.5.5:

Warning: Bootstrapped manifest not allowed to use 'overlay' directive.
Source File: jar:file:///home/jurgenhaas/.thunderbird/galno26f.default/extensions/automatic_dictionary_extension@jordi_beltran.net.xpi!/chrome.manifest
Line: 2 and 3

[2013-12-01 19:12] #9 closed, assigned to nobody

[2014-04-12 20:01] ByteHamster opened #10 "Option to disable pop-up"
Hi! Great extension. Really love it.
I am missing an option to disable the pop-up so all the magic happens automatically without notifying me. Is this possible?
Thanks, ByteHamster

[2014-06-08 17:43] #10 closed, assigned to nobody

[2014-06-09 13:27] ByteHamster opened #11 "Remembering or guessing just once"
The add-on is just working once after restarting Thunderbird: Just the first reply, first compose and first forward.

- Click "write message" (or reply or forward)
- Compose window opens
- Write receiver address
- AD sets the locale
- Close the window
- Click "write message" again (or reply or forward)
- Compose window opens
- Write receiver address
- AD does nothing

Maybe this post can help beca

[2014-09-22 15:04] Angelo-Mascaro opened #12 "Ignore CC recipients when language is different from the one of TO recipients"
Hi there. Your idea is great.
I was wondering about something like that since  6-7 years ago. In my mind I was thinking to a field in the address book.

I come with a suggestion for you. I use to write emails in different languages and sometimes I use different languages with the same people :-(
Normally in these cases the people are in CC and they receive the messages in the language of the TO pe

[2015-01-10 12:25] beltrachi commented on #11
Hi ByteHamster!

Is it working for you in the last Thunderbird? (31.3.0)

I just checked it in the same setup (W81, plugins, etc.) but in Thunderbird 31.3.0 (I can't find where to download 24.4.0) and following the same steps as you explained and here is my reply:

- It works as expected in the steps you described. The AD does not say or do anything when the dictionary locale is in the language th

[2015-01-10 15:19] ByteHamster commented on #11
Ah, forgot that one. The problem is still happening. Just played around a bit and noticed the following strange behavior:

* Restart Thunderbird
* Select mail with German receiver
* Press Reply
* Compose window opens
* AD guesses German
* Close compose window
* Select mail with English receiver
* Press Reply
* Compose window opens
* AD does not seem to do anything, no notification etc
* Minimize c

[2015-01-18 16:34] beltrachi commented on #12
Is it possible that the rec_B didn't have lang_B assigned but AD said "Guessed lang_B" in the first place?

When the plugin guesses a language, it does not write it down anywhere the mapping rec_B => lang_B. It tries to guess it based on the most frequent language on that domain (@gmail.com => 'en_GB', @lastampa.it => 'it_IT', etc).
But, when you have rec_B in CC of a mail, and assign the lang_A t

[2015-03-05 15:10] SimonSapin opened #13 "Dictionary change not triggered when replying"
The extension seems to have stopped doing anything for me. This **might** be since I updated to Thunderbird 31.5.0.

[2015-03-05 19:34] beltrachi commented on #13
Hi,

I've just installed 31.5.0 and it's working.

Does appear anything on the error console?
Error console is in "Tools" > "Error console" (Ctrl+shift+j)

Or maybe you have disabled the "Enable spellcheck as you type" ?
Its on "Edit" > "Preferences" > "Composition" > "Spelling"
It has to be enabled.

If it's not working either, can you try to install the next version? Maybe your issue is fixed:
h

[2015-03-05 19:44] SimonSapin commented on #13
Sorry for the poor issue report. The extension is still working, so this is probably not related to 31.5.0.

What I’m seeing is that when hitting the Reply button on an email, the dictionary is not checked against the automatically-filled recipient at first. I can compose a message and send it without triggering the extension. The extension does trigger and changes the dictionary when I click insi

[2015-03-05 22:22] beltrachi commented on #13
I understand your issue.

Have you tried new beta version? It could fix your issue.

If not, tell me how to reproduce it because it's working in my case.
- Operating system
- Thunderbird version: 31.5.0 in your case
- Plugins installed (some snapshots on addons tab would be enough)
- Steps to reproduce. In your case it should not be required.

Thanks for collaborating!

Best

On Thu, Mar 5, 2015 a

[2015-03-05 23:01] SimonSapin commented on #13
Automatic Dictionary version: 1.5.5. I haven’t tried beta. How can I get it?

Thunderbird 31.5.0 on Archlinux x86_64. Extensions and plugins:

<img src=https://cloud.githubusercontent.com/assets/291359/6516357/92c8060e-c391-11e4-9c12-2a316dd02e91.png width="48%"> <img src=https://cloud.githubusercontent.com/assets/291359/6516388/c326bb10-c391-11e4-93dd-27478695fa76.png width="48%">

Steps to repro

[2015-03-05 23:17] beltrachi commented on #13
Could you try the new version?

https://github.com/beltrachi/automatic_dictionary/raw/v1.7.1/automatic_dictionary.xpi

Tell me if it fixes your issue please :)

[2015-03-06 13:12] SimonSapin commented on #13
I didn’t manage to reproduce the issue (at least the “usual” way) on 1.7.1, looks like it’s fixed.

[2015-03-06 13:12] #13 closed

[2015-03-06 13:40] beltrachi commented on #13
Great! Thanks for your feedback!
On 6 Mar 2015 14:12, "Simon Sapin" <notifications@github.com> wrote:

[2015-05-01 20:24] #11 closed

[2015-06-11 11:58] Michael-E-Rose opened #15 "SpellCheck not working after email account change"
Using TB 31.7.0 on Ubuntu 14.04, I recently changed my email account (both gmail). Automatic dictionary switcher was working perfectly on the first account, but as soon as I deleted the account, and added the new account, it stopped working: I don't see any notification about saved settings when composing a message. Re-installation doesn't help.

[2015-06-12 17:52] beltrachi commented on #15
Hi Michael,

does appear any message on the Error console? Could you paste it here?

The error console is in Tools > Error console (Shift + Ctrl + j)

[2015-06-12 23:53] Michael-E-Rose commented on #15
This morning, I reinstalled Thunderbird (thereby deleting all plugins). Therefore I am very sorry, but I can't replicate the error any more.

[2015-06-16 21:18] beltrachi commented on #15
No problem. Glad to hear it! Closing it then. Thanks!

[2015-06-16 21:18] #15 closed

[2015-07-13 17:27] leopoldog opened #16 "Change language without updating users if more than one"
Hi,

if I select many contacts that use different languages, I have to select english to write to them.
The change of language updates all the selected users and this is very annoying because normally I want write to each in other languages than english.

I've set the "Max recipients to process per mail" to 1 but making that it's impossible to change the language of the e-mail if he has more than

[2015-07-13 21:05] beltrachi commented on #16
Hi,

I'll need more data to be able to reproduce your bug.
The plugin is designed to not update values when they have been assigned to a single user so I need more info on how to reproduce it.

You can send me the detailed description steps or activate the logs and send me the log as I describe:
Go to preferences of the plugin (in Thunderbird > Addons > Automatic Dictionary > Preferences)
2. Activ

[2015-07-13 21:10] beltrachi commented on #8
@thePanz any update on this issue?

[2015-07-14 09:54] thePanz commented on #8
I've updated to TB 38.0.1 but didn't notice any issue so far..
This issue is now 2yr old now, with tons of new TB releases in the while! :)
I guess we should close this issue.. or not?

[2015-07-15 16:09] beltrachi commented on #8
Of course! Closing it.

[2015-07-15 16:09] #8 closed

[2015-07-15 19:18] jorgk3 opened #17 "1.8.2: Tabbing into the subject restores ("remembers") the language but fails to set it"
Start a new message to a recipient who has a stored language.
Tab into the subject.
Notification arrives: Remembered <dict>
Start typing in the subject and notice that the language is in fact not set. Or right click and inspect the language.
Tab into the message and now the language is set.

Note: Maybe the language is set when tabbing into the subject, since making another window current and then

[2015-07-15 19:21] jorgk3 opened #18 "1.8.2: Confusing message when setting language for two recipients"
With max recipients set to 2, compose a message to two recipients which don't have a saved language. Set the language. Message received: Saved <dict> as default for 4 recipients.

[2015-07-15 19:31] jorgk3 opened #19 "1.8.2: Notifications inconsistent (maybe a feature not a bug)"
Start a new message to a recipient with a saved language.
Notification received: AutomaticDictionary: Remembered <dict>.
Start another message to the same recipient.
No notification received.
Start a message to a different recipient with a saved language. Notification received.
Start another message to the first recipient. Notification received.

So the second and subsequent message to the same re

[2015-07-24 07:10] louisgag opened #20 "Individually saved dictionary choice gets overwritten when sending an email with multiple recipients."
As stated in the title and in my previous review,

I find this plugin excellent but there is one behavior I would modify: when I write to multiple people, I would want the language information to be saved for the group of people and not for each people individually. My language choice changes whether I write to someone in a multi-people email or in a one person email.

Thank you,

-Louis

[2015-08-13 19:45] beltrachi commented on #17
Hi!

I've been looking into fixing this with no luck. In the code of the subject I do the same I do in the body, but in the subject it has no effect till body gets the focus.
Thunderbird seems to not "setup" the spellchecker till you focus on the body. I've tried to look into the Thunderbird code but I can't see why or how to fix it.

I'll keep this issue open but I'll focus on the other bugs. Sor

[2015-08-13 22:05] jorgk3 opened #21 "Guessing"
When you guess the language, it's not stored. So the next time the user writes to the same recipient, you guess again. Why?

If you guessed correctly, that is, the user doesn't change the guess, you can store it. If the user changes the guess, you will store that anyway. Conclusion: You can always securely store the guess.

[2015-08-15 09:38] schwitterz opened #22 "Allow for over-ruling language for multiple addressees"
Your add-on is great but I think it misses an easy to add feature. Allow for a "super" language or over-ruling character in the case that people with multiple languages are present. In my case if I would need that if in a group of people one has "English" set as main language that this would automatically select "English" even if all the other recipients are are listed as "German".

Thanks a lot,

[2015-08-19 18:06] beltrachi commented on #18
Hi Jorgk3,

I'm not able to reproduce it saying 4 recipients. It says 3 at most.

Anyway, the number is the total new combinations stored. I have a branch where I change the message here: https://github.com/beltrachi/automatic_dictionary/commit/6b0194807f26c3836d45c256b5d83b3261572b79

Could you give me the translation for german?

For the "4 recipients" message, I'd need the logs of the plugin to

[2015-08-19 18:21] beltrachi commented on #19
For the first part, the behavior is because it only shows notification when it changes the language, not when the language is the same used in that moment. It's inteded. I do not want to bother more than necessary or only when it actually does something.

The second part, I'll think about it. I agree that "Rembember" is not the best choice. I'll keep you posted.

[2015-08-20 07:34] jorgk3 commented on #18
The "4 recipients" message only happened in beta versions of 1.8.x. I don't see it in the beta of 1.9.0.

[2015-08-25 14:25] jorgk3 commented on #18
Will be fixed in 1.9.x.

[2015-08-25 14:25] #18 closed

[2015-08-25 14:27] jorgk3 commented on #19
Closing this, since the different notifications are a feature.

[2015-08-25 14:27] #19 closed

[2015-09-24 15:59] beltrachi commented on #20
Hi!

this should not happen. When you have a language saved for a single recipient, it will only be overwritten if you are witting an email to him alone.

I suggest you to install the last version that brings some fixes. You can update it in your thunderbird > Addons section or you can install the file directly from here:
https://github.com/beltrachi/automatic_dictionary/raw/v1.9.0/automatic_dicti

[2015-09-25 13:14] louisgag commented on #20
Hello, thanks for this reply. I noticed I now have the latest version (1.9.0). I'll pay attention to see if the bug still occurs and report here.
Regards,
-Louis

[2016-09-16 08:36] orschiro commented on #21
Dear all,

I think this is the feature I was looking for, too.

If you write someone for the first time, then it would be great if the add-on could auto-detect the written language and thus switch the dictionary.

If the user then doesn't change it manually to another language, this language could be stored as the default one for that contact, correct?

Warmly,

-Robert

[2016-09-26 21:46] beltrachi commented on #21
You are right, this is a good feature. I didn't see the benefit at first but realized that this affects next guessings increasing the weight of the language just guessed.

I've prepared a beta version with this behavior. Would you mind to give it a try?
You can download it from here: https://github.com/beltrachi/automatic_dictionary/raw/store-guessings/automatic_dictionary.xpi

[2016-09-28 10:42] orschiro commented on #21
Thank you for your work, @beltrachi!

-Robert

![image](https://cloud.githubusercontent.com/assets/170947/18910605/13c9c332-8579-11e6-9fd8-adb1e107c8ec.png)

[2016-10-03 22:14] beltrachi commented on #21
@orschiro It looks for the most frequent language on "mail.de" first. If it has no data, it will look for ".de" to get the most probable.

Why were you expecting it to be English? It does not detect based on email body.

[2016-10-04 05:50] orschiro commented on #21
It does not detect based on email body.

This would be a nice feature. Possible? :-)

-Robert

On Tue, Oct 4, 2016 at 12:14 AM, Jordi Beltran <notifications@github.com>
wrote:

[2016-10-04 18:08] beltrachi commented on #21
Nope, sorry.

You can install other extensions that do that, like https://addons.mozilla.org/en-Us/thunderbird/addon/dictionary-switcher/

I want to keep this extension simple.

[2016-10-04 18:23] orschiro commented on #21
Perfect, thanks for the recommendation!

On Tue, Oct 4, 2016 at 8:08 PM, Jordi Beltran <notifications@github.com>
wrote:

[2016-11-05 12:33] eMPee584 commented on #21
But then, the name of the extension is very misleading. It does not at all suggest that the automatism is based purely on per-sender/domain statistics collected after manually switching language for every single email.
I to a large number of recipients (usually once each), alternating between DE and EN. This is presumably a common work flow for people who are looking for an "automatic dictionary s

[2016-11-09 21:50] beltrachi commented on #21
@eMPee584 Thanks for the technical solution. It's interesting. I knew this existed but haven't looked for a nodejs implementation.

I'm sorry but I have no interest on doing things others have already done unless I have something to improve. You have this extension https://addons.mozilla.org/en-Us/thunderbird/addon/dictionary-switcher/ which does detect the language based on what you write.

If yo

[2017-02-24 03:50] B00ze64 commented on #21
@beltrachi Good day.

The extension you are referring to (Dictionary Switcher) does not work on any recent version of Thunderbird (it wasn't working on TB24, when I tested it). There used to be other extensions that did this as well (Markov Dictionary Switcher and Smart Dictionary Switcher) but they did not work in TB24 either. The problem with all these extensions is that the way dictionaries are

[2017-04-11 06:59] bonanza123 opened #23 "Thunderbird 52.0"
Is it possible that the addons stopped working on Thunderbird 52.0? I don't get any response from it when changing the dictionary for a recipient. Moreover, when I go into the settings of the extensions and enable "Save log to file" and restart Thunderbird, compose some messages, and then go back to the extension settings and click "Send log file to dev" nothing happens.

Unfortunately, I was also

[2017-04-11 07:28] beltrachi commented on #23
Thank you for opening this bug and trying to get a log!

I'm aware of this bug since some days ago. The extension requires things that are not there any more, this is why it fails completely.
I'll try to release a fix this week or next.

I'll keep you posted.

[2017-04-11 22:58] #23 closed

[2017-04-11 23:01] beltrachi opened #24 "Recover conversations extension support"
It's broken since thunderbird v52

[2017-04-11 23:16] beltrachi commented on #23
@bonanza123 I've just published the new version but the queue says there are 250 validations before this one, so it can last some days.
You can install the new version from here if you want: https://github.com/beltrachi/automatic_dictionary/raw/master/automatic_dictionary.xpi

Regards!

[2017-05-29 15:20] Johann-Tree commented on #21
Is it possible to switch off guessing on domain or TLD?
95% of all my emails I write in German, only 5% in English. So I would like to only store the recipients I write in English. At the moment all gmail.com contacts will be guessed as English language and I have to change that manually.

[2017-06-09 18:05] beltrachi commented on #21
@B00ze64 Hi!

I'm sorry that the other extensions don't work any more.

Each extension has a different approach and there is no best fit for all users. It depends on your needs. I needed something to remember the preference and I did it. In my approach of not autodetecting by email content, it's useful when you start writing in the wrong language to a known recipient.

I'm not going to fix other's

[2017-06-09 18:11] beltrachi commented on #21
@Johann-Tree Hi!

It's not possible to switch off guessing by TLD.

But with the extension as is, it will be useful for 95% of the cases isn't it?
The guessing logic will detect that you use German for most gmail.com users and set German by default. Or at least that's what it's supposed to do.

The guessing does not pretend to be 100% perfect, but to avoid you to change every time. If you are writ

[2017-06-09 18:42] beltrachi commented on #21
I'm closing this issue because original feature was developed and released.

To request other features open anoter ticket.

I'm not going to work on this extension any more except to fix issues.

You can create issues and maybe some developer can work on it. Any collaboration will be more than welcome.

[2017-06-09 18:42] #21 closed

[2017-06-09 18:43] beltrachi commented on #20
Closing for inactivity. I guess it's not happening any more.

[2017-06-09 18:43] #20 closed

[2017-06-09 18:45] beltrachi commented on #7
Closing because it points to an older version. Reopen if it still happens with last one.

[2017-06-09 18:45] #7 closed

[2017-08-09 18:46] tibitts opened #25 "Automatic Dictionary add-on breaks TB 56.0b1"
I received the automatic update to TB 56.0b1 yesterday.
Upon restart TB came up with the UI completely screwed and unusable.
What still did work was to get into safe mode. I nailed down the problem
to the Automatic Dictionary add-on.
Happens on both, Linux and Windows.

[2017-08-10 10:23] beltrachi commented on #25
@tibitts reproduced and looking into it.
Thanks for reporting!!

[2017-08-11 08:44] beltrachi commented on #25
AMO team just approved the new version. You can update it and the issue will be fixed.
Best regards!

[2017-08-11 08:44] #25 closed

[2017-08-15 09:26] marcus-at-localhorst opened #26 "Postbox"
Is it possible to make this Postbox compatible? <https://www.postbox-inc.com/add-ons>

[2017-08-17 06:52] beltrachi commented on #26
Hi @marcus-at-localhorst ,
sorry but I'm not active developing this extension any more.

Maybe somebody or even you can do it. Contributions are more than welcome.

[2017-09-05 12:58] orschiro opened #27 "Firefox support?"
Hello all,

This is such an amazing add-on!

Any chance we can implement automatic dictionary switch support directly into Firefox as well? :-)

[2017-09-05 19:29] beltrachi commented on #27
Hi!

sorry but Firefox has no recipients email addresses to which map a language, as this addon does.

You'll have to look for another addon, sorry. Good luck!

[2017-09-05 20:01] orschiro commented on #27
Thanks!

Could we implement another solution to automatic dict switching in Firefox, inspired by your code?

[2017-09-07 17:50] beltrachi commented on #27
I'm not working in this addon any more, besides bug fixing and compatibility with new thunderbird versions. Sorry.

But anyone can use the code to do whatever they want. It's MIT license :smile:

[2017-11-22 07:41] vasykiki opened #28 "TB 57.0b2 compatibility"
Hello,
your Automatic dictionary addon, v1.10.1, is very, very useful and worked perfectly, until last Thunderbird 57.0b2 update. Now. at least for me, it does not remember any more the language selections...
Regards, Michael

[2017-11-22 07:54] beltrachi commented on #28
You are right, I'm already working on it. I'll keep you posted.

Thanks for reporting!

[2017-11-22 19:58] beltrachi commented on #28
@vasykiki I've just submitted a version with the fix and is pending Mozilla revision.

You can install it from here if you want: https://github.com/beltrachi/automatic_dictionary/raw/master/automatic_dictionary.xpi

[2017-11-22 19:59] beltrachi commented on #28
Once released the version I'll close this issue.

[2017-11-23 07:19] beltrachi commented on #28
Version approved by Mozzilla. Users will be upgraded in the following days.

[2017-11-23 07:19] #28 closed

[2017-11-27 12:05] wkrawczak opened #29 "Doesn't work anymore"
Hi,

It seems that the Extension just stopped working some time ago.
I have version 1.10.2 now, but I noticed 1-2 weeks ago, that it just doesn't remember anything anymore. I set a language, the extension informs me about remembering it at the bottom, I send an e-mail. I open another one to this person - default language again.
I checked the log file - no problems at all.

Could you please assist

[2017-11-27 17:02] wkrawczak commented on #29
Sorry for bothering you, reinstalling Thunderbird and the extension helped. Should have tried it first.
Thanks, keep up the good work.

[2017-11-27 17:02] #29 closed

[2018-01-11 16:43] gergoe opened #30 "Recipients not always read when replying"
When replying on messages, almost always the language stays on the default language and not switched to the previously remembered language, whether it's a single recipient or a combination. The database with the address-language combinations are intact, based on the logs of the program it appears it simply cannot read the recipients out of the message.

Attached the log from the add-on, it starts

[2018-01-19 19:23] beltrachi commented on #30
Hi @gergoe

Sorry to hear that. It seems recipients are not set when the plugin looks into them, as you suggest.

Could you provide the following information?

1. Operating system (Windows 7, Mac OS X, ...)
2. Thunderbird version (On thunderbird go to Help > About)
3. Automatic Dictionary version (On Thunderbird > addons)
4. Addons you have enabled, maybe you can send me a screenshot of Thunderbir

[2018-01-19 20:00] gergoe commented on #30
Thunderbird was 45.8.0, when I went to the About screen and it found an update. After applying it, the version went up to 52.5.2. Quite a jump if you ask me, but no idea why it did not follow the releases until i opened the About screen...

Anyway, after the update I don't seem to have the same problem (Thunderbird feels slower, maybe that little delay is what it needed?), when replying the messag

[2018-01-19 20:00] #30 closed

[2018-01-31 21:17] kewlfft opened #31 "trigger from window focus failing"
Thanks for this great app, however there is an issue when it is used together with [Virtual Identity](http://www.absorb.it/virtual-id)
It only recognizes the language at the first e-mail reply after opening a session, the second time it does not activate at all. This is because there is no `[event] window focus` it seems triggered the second time when Virtual Identity is active.
Would you be able

[2018-02-08 19:47] beltrachi commented on #31
hi @kewlfft

I'm glad that you take the time to look into the code ^^

Let's try to add a listener on window init. I've prepared a build with that change. Can you try it?

https://github.com/beltrachi/automatic_dictionary/raw/jb/fix-reply-window/automatic_dictionary.xpi

You can see the change in the branch: https://github.com/beltrachi/automatic_dictionary/compare/jb/fix-reply-window

Could you d

[2018-02-08 21:34] kewlfft commented on #31
thanks very much for looking into my request this is very appreciated
I am traveling today but will certainly test the change as soon as i get back home.
looking forward to it.
thanks

[2018-03-14 19:19] kewlfft commented on #31
@beltrachi are you going to merge and release this change? thanks

[2018-03-15 18:42] beltrachi commented on #31
Hi @kewlfft !

sorry for the delay, github did not notify me when you edited your comment saying that it was working, :disappointed:

I've submitted the new version to Mozilla team. Once it's approved it will be released gradually to all users. Probably in the next days.

Thank you for improving this plugin! ^^

[2018-03-15 18:46] kewlfft commented on #31
No problem I was patiently waiting, many thanks for this change ! I can close the issue I suppose.

[2018-03-16 22:56] kewlfft commented on #31
works great thanks

[2018-03-16 22:56] #31 closed

[2018-04-06 09:14] bonanza123 opened #32 "Compatability with TB60"
TB 60 (the current beta) reports incompatibility with this awesome plugin.
I'm not sure whether this affects real functionality or is just a heads-up that some compatibility flag needs to be set.

[2018-04-09 06:27] beltrachi commented on #32
Thanks for reporting!

I'll take a look shortly.

On Fri, Apr 6, 2018, 11:14 bonanza123 <notifications@github.com> wrote:

[2018-04-24 06:58] beltrachi commented on #32
@bonanza123 Fix done and pending Mozilla release. Version 1.10.4.

Thank you for reporting!

[2018-04-24 06:58] #32 closed

[2018-04-24 07:10] bonanza123 commented on #32
Thanks so much!

[2018-10-25 17:50] Lemoert opened #34 "macOS issues"
I just installed the Automatic Dictionary in Thunderbird (version 60.2.1 on macOS High Sierra 10.13.6) and clicking "Tools > Add-on preferences > Automatic Dictionary" does not open the preferences (which is why I cannot create a log to illustrate the second and more important issue). Secondly, although the add-on seems to save the settings fine (I get the small notification when changing a langua

[2018-10-29 23:28] beltrachi commented on #34
Hi Martin!

Yes, when the addon detects that the dictionary for the recipients should be different it shows a notification.

Let's see if we can see what happens...
Can you use the extension and send me the errors that appear in the "Error console"?
It can be opened in "Tools" > "Developer tools" > "Error console".
You can send me a screen capture of it.

Also, a list of the other extensions insta

[2019-01-18 19:55] #27 closed

[2019-01-18 20:02] beltrachi commented on #34
Any update on this issue Martin?

[2019-01-18 20:03] #16 closed

[2019-01-18 20:04] beltrachi commented on #12
Hi Angelo.

I'm closing this issue. We can reopen it if you are still affected by this.

[2019-01-18 20:04] #12 closed

[2019-04-07 18:53] ErikKrause opened #35 "Automatic language detection"
Many, many thanks for this addon! I've been waiting for years to have something like this. In fact I've been using the automatic dictionary switcher by Dao Gottwald until it stopped working years ago: https://addons.thunderbird.net/en-US/thunderbird/addon/dictionary-switcher-for-thunde/

It is very nice to bind the language to the recipient. However, for first time contacts (and eventually for sel

[2019-06-24 15:12] beltrachi opened #36 "Broken compatibility for TB 60.6.1"
Build for TB stable is broken since last week:
https://travis-ci.org/beltrachi/automatic_dictionary/jobs/548584032

Latest release is 60.6.1 https://www.thunderbird.net/en-US/thunderbird/60.6.1/releasenotes/
which includes some vulnerability fixes.

[2019-09-02 09:11] mrkazoodle opened #37 "Broken compatibility for TB 68.0"
Automatic dictionary has been disabled after upgrading to Thunderbird 68. Reason: not compatible.

[2019-09-03 21:05] beltrachi commented on #37
Thanks for reporting! Changes on TB68 are pretty big. I'll take a look but it do not seem to be fast.
Hope I can release a fix in a week.

[2019-09-07 07:37] kewlfft commented on #37
Thanks for this great addon, according to Thunderbird team

These steps must be followed for conversion: https://developer.thunderbird.net/add-ons/updates
Let us know if you need any help.

[2019-09-08 14:25] beltrachi commented on #37
Hi!
the new release is ready :tada:

I've uploaded it to Thunderbird platform and is pending review. It's 9th on the queue so I hope it will be released soon.

If you can't wait you can download the version from here: https://github.com/beltrachi/automatic_dictionary/blob/master/automatic_dictionary.xpi

Thanks for reporting and your help!

Best regards
Jordi

[2019-09-08 14:25] #37 closed

[2019-09-09 09:42] krabo0om commented on #36
Thank you for developing this addon!
Any ETA for Thunderbird 68 support?

[2019-09-09 19:00] beltrachi commented on #36
@krabo0om TB 68 support was implemented in this issue https://github.com/beltrachi/automatic_dictionary/issues/37 yesterday. It's pending Thunderbird team approval. I have no idea on the ETA.

If you are in a hurry you can install the extension from the file, as described here: https://github.com/beltrachi/automatic_dictionary/issues/37#issuecomment-529207472

[2019-09-10 08:37] krabo0om commented on #36
Thanks, I did not look at the closed issues.

[2019-09-11 15:09] beltrachi commented on #36
Closing issue. I've tested with 60.8.0 and v1.11.0 (last version compatible with TB60) works well.

[2019-09-11 15:09] #36 closed

[2020-01-28 12:06] d4niel-P opened #38 "Not working with TB 73.0b1"
It's a great add-on but unfortunately stopped working with beta branch of TB (TB 73.0b1 to be exact).

[2020-01-28 18:48] beltrachi commented on #38
Thanks for reporting it.

I've already been looking into it and hope to release a working version
soon.

On Tue, Jan 28, 2020 at 1:06 PM d4niel_p <notifications@github.com> wrote:

[2020-02-24 11:07] fogx commented on #35
that would be amazing!

[2020-03-29 18:52] beltrachi commented on #38
Finally could migrate the code to MailExtension. Release is waiting for review by Thunderbird team.
Hope it will be released in the following hours/days.

If you want to manually install it, download the automatic_dictionary.xpi from master here on github.

[2020-03-31 11:25] d4niel-P commented on #38
Thanks! Extension updated and works flawlessly on 75.0b2 while composing new emails, but it's a hit and miss while using "Reply".

[2020-03-31 11:25] #38 closed

[2020-03-31 12:27] beltrachi commented on #38
Glad to hear it!

Could you create an issue for the reply thing?

On Tue, Mar 31, 2020, 13:25 d4niel_p <notifications@github.com> wrote:

[2020-05-22 07:12] d4niel-P opened #40 "Spotty bahaviour when replaying"
Add-on works great when creating new e-mail but hardly ever when replaying. I tried to pin point circumstances when it works or doesn't but I couldn't find any specific conditions.

[2020-06-07 10:23] beltrachi commented on #40
Hi @d4niel-P , could you provide more information? Mainly which versions of each software are you using. It's descirbed here https://github.com/beltrachi/automatic_dictionary#bug-reporting

[2020-08-25 13:01] beltrachi commented on #40
@d4niel-P issue solved in release 2.0.1.

Best!

[2020-08-25 13:02] #40 closed

[2020-08-26 07:23] d4niel-P commented on #40
Thank you! I'll test it asap.

[2020-10-08 07:35] fr3nd opened #51 "Reported as incompatible in Thunderbird 78"
![image](https://user-images.githubusercontent.com/493065/95428544-6fed0900-0949-11eb-89f8-e02b9c8a3803.png)

[2020-10-08 12:53] fr3nd commented on #51
The plugin was updated (apparently I was running an old version) and requested new permissions. Since then it started working.
Thanks!

[2020-10-08 12:53] #51 closed

[2020-10-27 20:39] tomaszg7 opened #56 "Extensive permissions"
Hi!

Since new version, the addon requires permission to: "Have full, unrestricted access to Thunderbird, and your computer". I suppose it is caused by some changes in Thunderbird. However from user's perspective it is rather frightening (even though the later part of the sentence is not really true in any reasonable OS). It would be nice be able to use this addon without selling the soul ;)

[2020-10-29 09:19] cejote commented on #22
I came here to make the very same comment. Would be awesome to have this feature!

[2020-11-04 00:52] damjang opened #62 "Wrong dictionary used when replay"
I have a bug in replay. The correct language is selected and shown, but not used. E.g. I set Italian for a contact. When I write a new mail everything work ok, but when I replay to a mail from that contact the Italian is selected but English is used to spellcheck (correct words are underlined with red and English words are suggested). Only when I click on Spellcheck button the correct language is

[2020-11-07 11:07] beltrachi commented on #56
Hi,

I can't fix this. I need Thunderbird API to allow me to do several operations that are not allowed yet. I'm using Experimental API till then, that's why it says I have full access to Thunderbird.

Current extensions API is documented here: https://thunderbird-webextensions.readthedocs.io/

I keep an eye on it from time to time so maybe in future versions the extension stops requiring unrestri

[2020-11-07 18:28] #34 closed

[2020-11-12 10:19] hendriksi opened #64 "Add-on does not work with Thunderbird version 78.4.3"
After the last update of Thunderbird to version 78.x the add-on has stopped working.
Thunderbird says that this add-on is not compatible with the current version of Thunderbird.

![Screenshot 2020-11-12 11 03 57](https://user-images.githubusercontent.com/9208996/98927352-b7caf700-24d8-11eb-8a62-d4e7f40a85ec.png)

## Context (Environment)
Thunderbird version 78.4.3
Win 10 Pro

[2020-11-12 22:57] beltrachi commented on #62
Hi @damjang

I could not reproduce it. Could you provide more information? Please check the "Bug reporting" chapter here https://github.com/beltrachi/automatic_dictionary#bug-reporting

[2020-11-12 23:03] beltrachi commented on #64
Hi @hendriksi

the plugin you have installed is an older version. You need to upgrade the plugin version. Could you check if there is any option in the Addons tab to "Check for updates"? That may fix your issue.

[2020-11-13 07:46] hendriksi commented on #64
Unfortunately, the update did not work in Thunderbird. I have removed the add-on and installed the new version manually. Now it works well.
Many thanks for your help and this great tool.

[2020-11-14 14:51] #64 closed

[2020-11-23 21:30] infeeeee commented on #62
I also have this issue. If I click spellcheck (Ctrl+Shift+P) then Escape to close the spellcheck window, the addon works correctly.

Windows 10 2004 64bit
TB 78.5.0 32bit

Addons installed:
![kép](https://user-images.githubusercontent.com/1271737/100014266-6e32b400-2dd6-11eb-93a6-d35a2e05587b.png)

Steps to reproduce:
- Reply to an email.
- On the right bottom corner it selects the correct languag

[2020-11-23 21:36] damjang commented on #62
Sorry for late reply! I have disabled all plugins except Automatic Dictionary to test. But have same problem as explained before. The correct dictionary is not user on replay, only after click on Spellcheck button above the message. I have also saved some error console text if can be usable. Find it here: http://www.damjan.net/tmp/console-export-2020-11-23_22-14-57.txt
Tested with last TB 78.5.0 (

[2020-11-28 22:59] beltrachi commented on #62
hi @damjang @infeeeee

thank you very much for your information. Very detailed.

However I was not able to reproduce the problem. I installed the same Thunderbird version, even and even all the extensions @infeeeee had installed, and could not reproduce this behaviour.
I suspect there is some problem with the internals of Thunderbird.

By now the only thing I came up with is to fix the errors "win

[2020-11-29 00:39] infeeeee commented on #62
I installed the beta version, an I couldn't reproduce this bug, I just tried to reply some random mails. It seems like it's working, thank you!

[2020-11-29 19:52] infeeeee commented on #62
Update: it just happened again with the beta version. I tried to discard the reply some times, than reply again to the same mail and sometimes it's working correctly, sometimes it defaults to English. No errors shown in the log:

![kép](https://user-images.githubusercontent.com/1271737/100552002-9a41af80-3284-11eb-8fb0-3411df4db8a4.png)

[2020-11-29 20:47] damjang commented on #62
Tested, but no change. The bug is always here...

[2020-12-01 18:56] beltrachi commented on #62
So sad, I already released this change to all the users.

I have no idea on how to reproduce it, so I can't know if any change will fix this. By now I'd like you to try this version: https://github.com/beltrachi/automatic_dictionary/raw/4e85b2a568124d23cb4b6d76be95d2873ab61f4c/automatic_dictionary.xpi

I've delayed 1s the language deduction on reply, to let thunderbid initialize whatever it needs

[2020-12-01 19:24] damjang commented on #62
Yesss, for me now work ok. Thank you!

[2020-12-03 09:39] infeeeee commented on #62
It seems it's working for me right now, but the previous version stopped working after a while... I will report back if the bug resurfaces again.

[2020-12-05 15:06] beltrachi commented on #62
As it has been 2 days I imagine it has worked.

I've published this new version to all users and it's pending on Thunderbird's approval. Thank you both for all your help!

Best

[2020-12-05 15:06] #62 closed

[2021-05-04 11:47] louisgag commented on #64
Thanks @hendriksi for pointing out this issue: I also had to remove and re-install.
And thanks @beltrachi for this really useful plugin!

[2021-08-31 07:37] stefangweichinger opened #96 "function with TB 92 beta"
This project is in maintenance mode. No new features will be implemented. Just bugs will be considered.

## Expected Behavior

Addon should consider stored language

## Current Behavior

It seems to always "fall back" or default to english, also after explicitly storing a preference for german for a given recipient.
This also after restarting TB.

## Steps to Reproduce it

1. use TB 92.x beta
2. w

[2021-09-02 15:42] sofquipeut commented on #96
+1 with official TB 91.x. Please fix this, your addon is very useful!
Thanks

[2021-09-07 21:25] beltrachi commented on #96
Hi! thank you all for reporting it.

I've just sent a fixed version to be released. Waiting for Thunderbird Addons Reviewers team now to approve it.

If you are in a rush, you can install it manually from here: https://github.com/beltrachi/automatic_dictionary/raw/master/automatic_dictionary.xpi

[2021-09-08 07:12] sofquipeut commented on #96
Hi, ho yeah I was in a rush! thanks so much for the quick fix!

[2021-09-08 08:41] stefangweichinger commented on #96
thanks @beltrachi , installed your fixed version, first tests look good

[2021-09-08 09:16] sofquipeut commented on #96
Yes, I confirm that it seems to work for me too! 😹

[2021-09-08 11:07] pgnd commented on #96
@beltrachi

quick fyi, the new-version reports:

	"Homepage  http://beltrachi.github.com/automatic_dictionary/"

@ visit to

	http://beltrachi.github.com

reports

	"There isn't a GitHub Pages site here.

	Did you mean to visit beltrachi.github.io? Please note that this site belongs to a GitHub user and is not an official GitHub site.

	If you're the owner of this site, please update your links to

[2021-09-08 22:12] #96 closed

[2021-09-08 22:14] beltrachi opened #98 "Homepage URL is not working"
(Creating new issue on behalf of @pgnd, extracted from https://github.com/beltrachi/automatic_dictionary/issues/96)

@beltrachi

quick fyi, the new-version reports:

	"Homepage  http://beltrachi.github.com/automatic_dictionary/"

@ visit to

	http://beltrachi.github.com

reports

	"There isn't a GitHub Pages site here.

	Did you mean to visit beltrachi.github.io? Please note that this site belongs

[2021-09-09 17:18] beltrachi commented on #98
URLs changed. Thanks @pgnd for reporting!

[2021-09-09 17:18] #98 closed

[2022-04-21 17:30] Mte90 opened #128 "New release for Thunderbird 100"
I saw that the version supported changed but is not available on https://addons.thunderbird.net/en-US/thunderbird/addon/automatic-dictionary-switching/?src=search for 100 version.
It is possible to do a new release?

[2022-04-22 16:10] beltrachi commented on #128
Hi @Mte90 thanks for reporting.

I've sent a new version v3.0.1 and has already been approved by Thunderbird that should be compatible with TB up to v102.0.
You can find it here: https://addons.thunderbird.net/en-US/thunderbird/addon/automatic-dictionary-switching/versions/?page=1#version-3.0.1

Best

[2022-04-22 16:10] #128 closed

[2022-04-22 16:11] Mte90 commented on #128
perfect thanks!

[2022-06-22 08:38] jobisoft commented on #56
Recent addition to the APIs are:
* [onActiveDictionariesChanged](https://webextension-api.thunderbird.net/en/102/compose.html#onactivedictionarieschanged)
* [getActiveDictionaries](https://webextension-api.thunderbird.net/en/102/compose.html#getactivedictionaries-tabid)
* [setActiveDictionaries](https://webextension-api.thunderbird.net/en/102/compose.html#setactivedictionaries-tabid-activedictiona

[2022-06-22 17:46] beltrachi commented on #56
@jobisoft another question I had around was, is there any plan to have this feature in the core of TB?

[2022-06-23 15:54] jobisoft commented on #56
I do not know of any plans to add such a functionality to core.

[2022-06-23 19:13] jobisoft commented on #56
I tried to move forward in
https://github.com/beltrachi/automatic_dictionary/pull/136

[2022-11-01 10:01] sphh opened #156 "Reply to message does not set language"
This project is in maintenance mode. No new features will be implemented. Just bugs will be considered.

## Expected Behavior

When replying, use the language associated with the recipient.

## Current Behavior

When I reply to an email, the default language is always used.

If I start a new email, enter the same recipient as in the reply, the correct language dictionary is selected.

## Steps to

[2022-11-22 11:34] vendelin8 commented on #156
Same happens to me in the last 2-3 months.